[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"
pylint = "*"
black = "*"
flake8 = "*"
bandit = "*"
pytest = "*"
psycopg2 = "*"
sqlalchemy = "*"
pydantic = "*"

[dev-packages]
pytest = "*"


[requires]
python_version = "3.8"

[scripts]
start = "python src/main.py"
test = "# To implement"
lint = "# To implement"
